@charset "UTF-8";
/*08后台-企业-审查并支付 start*/
/*宽度和高度*/

.w1020{width:1020px;}
.w162{width:162px;}
.w814{width:814px;}
.w976{width: 976px;}
.w710{width: 710px;}
.w872{width: 872px;}
.w580{width: 580px;}
.w742{width: 742px;}
.w42{width: 42px;}
/*字体对齐方式*/
.textA_R{text-align: right;}
.textV_T{vertical-align: top;}
/*字体颜色*/
.c666_w{color: #666;}
.c009_w{color:#0090ff;}
/*边距*/
.pt30{padding-top: 30px;}
.pt35{padding-top: 35px;}
.pt26{padding-top: 26px;}
.pb26{padding-bottom: 26px;}
.pb16{padding-bottom: 16px;}
.pl3{padding-left: 3px;}
.mt19{margin-top: 19px;}
.ml860{margin-left: 860px;}
.ml752{margin-left: 752px;}
.mr28{margin-right: 28px;}
/*其他*/
.textD_U_w{text-decoration: underline;}
.floatN_w{float:none;}
.f14_lh22_w{
    font-size: 14px!important;
    line-height: 22px!important;
    text-align: justify;}
td{color:#333;}
/*08后台-企业-审查并支付 over*/
/*09后台-企业-服务内容质量反馈-评分 start*/
.textarea_w{
    width: 530px;
    height: 114px;
    border: 1px solid #ddd;
    padding: 8px 10px;
    line-height: 24px;
    font-size: 14px;
    color:#666;
    overflow-y: hidden;
}
/*09后台-企业-服务内容质量反馈-评分 over*/
/*评分 start*/
.cc1_w{color:#c1c1c1;}
.cf60_w{color: #ff6600;}
.disP_N_w{display: none;}
.disP_IB_w{display: inline-block;}
.w24{width: 24px;}
.h16{height: 16px;}
.bg_start{background: url(../images/startG.png) center 0 no-repeat;}
.bg_startY{background: url(../images/startY.png) center 0 no-repeat;}
/*评分 over*/
.pt22{padding-top: 22px;}
.c307_w{color:#3075fb;}
.num_w{word-break: break-all;}
/*中小企业互动平台后台_动态信息审核 start*/
.name_w{width: 190px;text-align: right;padding-bottom: 30px;}
.star_w{padding-left:18px;background: url("../images/starR_w.png") left center no-repeat; }
.h72{height: 72px;}
.model_w{padding: 30px 0 0 0;background: #f6f6f6; margin-bottom: 18px;}
.content_w{padding-bottom: 30px;color:#666;width: 265px;box-sizing: border-box;padding-left: 5px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.w455{width: 455px;}
div.bgN_w{background: none;}
.w910{width: 910px;}
.bgN_w{background: none;}
/*中小企业互动平台后台_动态信息审核 over*/
/*二期设计-政府-02-1分派申诉单 start*/
.pl14{padding-left: 14px;}
.pr2{padding-right: 2px;}
.mt22{margin-top: 22px;}
.tb_body_w .link_blue{height:16px;}

/*弹窗*/
.popA_w{position:fixed;top:0;left:0;bottom:0;right:0;background: rgba(0,0,0,0.3);text-align: center;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000); }
.popA_w>div{display: inline-block; width:610px;height: 510px;background: #fff;margin: 0 auto;vertical-align: middle;border:1px solid #ddd;box-sizing: border-box;position: relative;}
.popA_w>span{display: inline-block;height: 100%;width: 1px;vertical-align: middle;position: relative;}
.popAC_w>p{padding:13px 21px 14px 27px;border-bottom: 1px solid #ddd;height: 47px ;box-sizing: border-box;}
.popAC_w>p span{font-size: 16px;color:#333;float:left;}
.popAC_w>p i{cursor: pointer; width:20px;height:20px;float:right;background: url(../images/close_normal.png) center center no-repeat;}
.popM_w{padding:30px 29px;}
.pl10{padding-left: 10px;}
.popM_w>span{height:36px;line-height: 36px;color:#333;}
.popM_w .adminSelect .sod_select{background-position: 178px center;}
.popM_w .tablelist{margin-top: 14px;}
.popM_w .tablelist th{height: 46px;}
.popM_w .tb_body_w td{padding:0 10px;}
.c3_w{color:#333;}
.totalPage_w{color:#333;}
/*二期设计-政府-02-1分派申诉单 over*/
/*二期设计-政府-04-1-1责任服务窗口-窗口咨询 start*/
.mr14{margin-right: 14px;}
.ConT_w .adminSelect .sod_select{background-position: 157px center;}
.pl17{padding-left: 17px;}
.tdS_w td{padding: 0 10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
/*.tdS_w td.link_blue a{height: 16px;}*/
.tdS_w td.link_blue a:hover{text-decoration: underline;}
.nav_title.currentS1_w {  background: url(../images/govtit.png) no-repeat left center;  }
.currentS2_w {  color: #56bfd0;  }
/*二期设计-政府-04-1-1责任服务窗口-窗口咨询 over*/
/*二期设计-政府-04-1-2责任服务窗口-窗口咨询-新增 start*/
.Cf6_w{background: #f6f6f6;padding:20px 10px;}
.Cf6_w table{width:728px;}
.Cf6_w td{text-align: right;padding-bottom: 22px;}
.w588{width: 588px;}
.Valign_w{vertical-align: top;}
.Cf6_w table .ke-container.ke-container-default{width:588px!important;box-sizing: border-box;}
.icheckbox_square-orange{left:0;}
td.textAL_w{text-align: left;}
td.pb0{padding-bottom: 0;}
.Cf6_w td{box-sizing: border-box;}
.pr4{padding-right: 4px;}
/*二期设计-政府-04-1-2责任服务窗口-窗口咨询-新增 over*/
/*二期设计-政府-06-1服务机构信息 start*/
.ConTS_w .adminSelect .sod_select {background-position: 177px center;  }
.ConTS_w span{width: 81px;text-align: right;}
.ConTS_w span.w67{width: 67px;}
/*二期设计-政府-06-1服务机构信息 over*/
/*二期设计-政府-06-2服务机构信息-主要信息 start*/
.bgf6_w{background: #f6f6f6;}
.pMainMes_w{width: 100%;}
.pMainMes_w td,.pMainMes_w th{padding-bottom: 22px;line-height:22px;vertical-align: top;word-break: break-all;}
.pMainMes_w td{text-align: right;padding-right: 2px;}
.pMainMes_w th{text-align: justify;}
.pMainMes_w td.pb26,.pMainMes_w th.pb26{padding-bottom: 26px;}
.pr266{padding-right: 266px;}
/*二期设计-政府-06-2服务机构信息-主要信息 over*/
/*二期设计-政府-06-4-1服务机构信息-动态信息 start*/
.tabGov_w{border-bottom: 1px solid #ff6600;}
.tabGov_w li{margin-right:9px;display:inline-block;width:124px;height: 36px;line-height:36px;text-align: center;border:1px solid #ff6600;color:#ff6600;box-sizing: border-box;border-bottom: none;cursor: pointer; }
.tabGov_w li:hover{background: #ffe8dd;}
.tabGov_w li.current{background: #ff6600;color:#fff;}
.procedure_w{height: 200px;background: #f6f6f6;margin-bottom: 20px;padding-top: 35px;box-sizing: border-box;}
.procedure_w>div{width: 960px;height: 130px;margin: 0 auto;background:url(../images/procedureBg_w.png);}
.procedure_w>div div{float:left;height: 130px;}
.pName_w{width: 206px;padding-left: 17px;font-weight: bold;color:#fff;box-sizing: border-box;height:130px;line-height: 130px;}
.pDetal_w{width: 212px;padding:42px 0 0 17px;box-sizing: border-box;}
.pDetal_w p{color:#ff6600;font-size: 13px;margin-bottom: 20px;}
.pDetal_w p span{color:#333;}
.pDetal_w p i{font-style: normal;width: 65px;text-align: right;display: inline-block;}
.pMain_w{width:542px; }
.mb8{margin-bottom: 8px;}
/*流程步骤*/
.pMain_w ul{height:130px;padding:36px 0 15px;box-sizing: border-box;}
.pMain_w li{float:left;}
.p1_w{color:#6ac8e8;font-size: 13px;font-weight: bold;height: 19px;}
.p2_w{background:url("../images/step1_w.png") left center no-repeat; height: 24px;}
.p3_w{color:#999;font-size: 13px;padding-top: 4px;line-height: 17px;}
.step1_w{width:96px;}
.step2_w{width:207px;}
.step3_w{width:207px;}
.step2_w .p2_w{background-position: -96px center;}
.step3_w .p2_w{background-position: -303px center;}
.step1_w .p1_w,.step1_w .p3_w{margin-right: -74px; text-align: center;}
.step2_w .p1_w,.step2_w .p3_w{margin-right: -182px; text-align: center;}
.step3_w .p1_w,.step3_w .p3_w{margin-right: -184px; text-align: center;}

/*叶鹏增加服务机构样式20161216*/
.p11_w{color:#6ac8e8;font-size: 13px;font-weight: bold;height: 19px;}
.p22_wb{background:url("../images/step1_wnew.png") left center no-repeat; height: 24px; width: 122px;}/*蓝线*/
.p22_wg{background:url("../images/step1_wnew.png") right center no-repeat; height: 24px; width: 122px;}/*灰线*/
.p22_ws{background: url("../images/step3_w.png") right center  no-repeat; height: 24px; width: 122px;}/*绿线*/
.p33_w{color:#999;font-size: 13px;padding-top: 4px;line-height: 17px;}
.step11_w,.step22_w,.step33_w{width:120px;}
.step22_w .p22_w{background-position: -96px  right;}
.step33_w .p22_w{background-position: -303px right;}
.step11_w .p11_w,.step11_w .p33_w{margin-right: -24px; text-align: center;}
.step22_w .p11_w,.step22_w .p33_w{margin-right: -82px; text-align: center;}
.step33_w .p11_w,.step33_w .p33_w{margin-right: -84px; text-align: center; }

.w138new{width:138px !important;}
.bgno{background: none!important;}
.pMain_w li.pass_w .p33_w{color:#ff6600;}
.pMain_w li.current_w .p33_w{color:#ff6600;font-weight: bold;}

/*项目状态文字颜色通过 pass_w和.current_w控制*/
.pMain_w li.pass_w .p3_w{color:#ff6600;}
.pMain_w li.current_w .p3_w{color:#ff6600;font-weight: bold;}
/*步骤背景通过 pass_w和.current_w控制*/
.pMain_w li.step2_w.pass_w .p2_w,.pMain_w li.step2_w.current_w .p2_w{background: url(../images/step3_w.png) -96px center no-repeat; }
.pMain_w li.step3_w.current_w .p2_w{background: url(../images/step3_w.png) -303px center no-repeat; }
/*时间节点是否可见通过 pass_w和.current_w控制*/
.pMain_w li.step2_w .p1_w, .pMain_w li.step3_w .p1_w{visibility: hidden;}
.pMain_w li.step2_w.pass_w .p1_w,.pMain_w li.step2_w.current_w .p1_w{visibility: visible;}
.pMain_w li.step3_w.current_w .p1_w{visibility: visible;}
/*二期设计-政府-06-4-1服务机构信息-动态信息 over*/
/*二期设计-政府-06-5服务机构信息-机构资质 start*/
.pGress_w{width: 100%;}
.pGress_w img{height: 30px;}
.imgC_w{padding-left: 18px;}
.pGress_w td{text-align: right;}
.pGress_w th{text-align: left;}
.pGress_w td,.pGress_w th{line-height: 24px;padding-bottom: 20px;}
.pGress_w td span{padding:0 5px 0 12px;background: url(../images/starR_w.png) left center no-repeat;}
.pGress_w th.pb30{padding-bottom: 30px;}
.pGress_w th.pb25{padding-bottom: 25px;}
.pGress_w th.textA_J{text-align: justify}
/*二期设计-政府-06-5服务机构信息-机构资质 over*/
/*二期设计-政府-06-4-2服务机构信息-动态信息-查看 start*/
.seeMes_w .bgf6_w{padding:30px 128px 0 0;}
.seeMes_w table{width:100%;}
.seeMes_w td{text-align: right;}
.seeMes_w th{text-align: justify;}
.seeMes_w td span{padding-right: 5px;}
.mesT_w{font-weight: bold; padding-left: 11px;height: 50px;line-height: 50px;color:#333;}
.seeMes_w td,.seeMes_w th{padding-bottom: 30px;}
.seeMes_w th span{margin-left: 16px;}
.lh20{line-height: 20px;}
.pt3{padding-top: 3px;}
.seeMes_w th.pb27{padding-bottom: 27px;}

/*二期设计-政府-06-4-2服务机构信息-动态信息-查看 over*/
/*****************************二期内容-后台管理**********************************/
/*二期内容-后台管理-调研问卷-调研问卷 start*/
.surveyForm_w{padding: 13px 20px 13px 14px;background: #f6f6f6;}
.ml110{margin-left: 110px;}
.surveyForm_w .choseData{width:120px;}
.surveyForm_w i{width: 30px;height: 36px;background: url(../images/shortLine_w.png) center center no-repeat;}
.surveyForm_w input{color:#666;}
.surveyForm_w span{font-size: 13px; width: 68px;height: 36px;line-height: 36px; text-align: right;display: inline-block;padding-right: 3px;box-sizing: border-box;}
.surveyForm_w span,.surveyForm_w input,.surveyForm_w i{float:left;}
.ml150{margin-left: 150px;}
.back_add_w{color: #3075fb;font-size:12px;cursor: pointer;float: right;font-weight: normal;line-height: 1.5;background: url("../images/back_add.png") no-repeat left center;padding-left: 16px;margin: 18px 18px 0 0 ;}
/*table*/
.tablelist th{height: 32px;color: #333;padding-left: 10px;}
.tb_body table{table-layout: fixed;width: 100%;}
.tb_body td{height:40px;text-align: center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding-left: 10px;color: #333;}
.bgf6{background: #f6f6f6}
.tb_body table{margin-top: 2px;border-bottom:2px solid #f60;width: 100%; }
.tb_body tr:hover{background: #c5e3ff}
.tb_body table a{color: #3075fb;margin-left:20px;}
.tb_body table a:first-child{margin-left:0; }
.tb_body table a:hover{text-decoration: underline;  cursor: pointer;}
/*弹窗*/
.lineY_w{width: 707px;border-top: 2px solid #ff6600;margin: 0 auto;}
.sPopQ_w{padding:22px 47px 0 54px;}
.sPopQ_w h3{font-weight: bold;font-size: 14px; text-align: center;}
.bigTitle_w{font-size: 13px;margin: 22px 0 13px;}
.sTitle_w{padding-left: 28px;margin-bottom: 16px;}
.answer_w{padding-left: 50px;font-size: 13px;}
.answer_w span{margin-left: 10px;}
.answer_w label{margin-right: 46px;}
.textareaA_w{width: 597px;height: 108px;padding: 12px 10px;color: #666;border: 1px solid #ddd;box-sizing: border-box;line-height: 20px;vertical-align: top;}

/*分页*/
.pagebox .total_page {
    color: #333;
    font-size: 12px;
    display: inline-block;
    padding: 0.3em 0.5em;
    vertical-align: top;
    margin: 0 0 0 30px;
    float:none;
}
.pagebox_w {text-align: center; overflow: hidden; padding:20px 0 13px; }
.pagebox_w .pagination{display: inline-block;float: none;padding:0;}
.pagebox_w .total_page {
    color: #333;
    font-size: 12px;
    display: inline-block;
    padding: 0.3em 0.5em;
    vertical-align: top;
    margin: 0 0 0 30px;
    float:none;
}
.mb17{margin-bottom: 17px;}
/*二期内容-后台管理-调研问卷-调研问卷 over*/
/*二期内容-后台管理-调研问卷-问卷问题列表 start*/
a.return_w{background-image: url(../images/returnA_w.png);}
.back_add_w:hover{text-decoration: underline;}
/*弹窗*/
.shade_w{position: fixed;z-index:3;top:0;bottom:0;left:0;right: 0;background:#000;opacity:0.3;filter:alpha(opacity=30); }
.popS_w{position: fixed;z-index:2;top:0;bottom:0;left:0;right: 0; }
.popS_w div.popMain_w{width: 768px;background: #fff;position:absolute;z-index:4;top:50%;left: 50%;margin-top: -280px;margin-left: -373px;display: table;}
.popS_w div.popMain_w p{padding:12px 12px 15px 13px;}
.popS_w div.popMain_w p span{font-size: 14px;font-weight: bold;padding:3px 0 0 11px;background: url(../images/adminTit.jpg) left 7px no-repeat;}
.popS_w div.popMain_w p i{cursor:pointer;float: right;width: 13px;height:13px;background: url(../images/closeP_w.png) center center no-repeat;}
.sPopM_w{padding:0 20px 20px;}
.sPopM_w table{border-top:2px solid #ff6600;width: 100%;}
.sPopM_w table th{font-size:13px;text-align: right;width: 106px;padding-right: 2px;box-sizing: border-box;padding-bottom: 22px;}
.sPopM_w table td{text-align: left;padding-bottom: 22px;}
.w383{width: 383px;}
.sPopM_w table span{font-size:12px;color:#ff4444;margin-left: 2px;}
.w200{width: 200px;}
.mt16{margin-top: 16px;}
/*上传文件*/
.fileBox_w{ position:relative;width:384px;display: inline-block;}
.txt_w{ width:280px; position: relative;overflow: hidden;}
.file_w{cursor: pointer; width:94px; position:absolute; top:0; right:0; height:36px; filter:alpha(opacity:0);opacity: 0;font-size: 13px;}
.scanBtn_w{background: #fff; color: #666;border:1px solid #999;margin-left: 6px; height:36px; width:94px; font-size: 13px;position: relative;box-sizing: border-box;}
.sod_label{color:#666;}
/*二期内容-后台管理-调研问卷-问卷问题列表 over*/
/*二期内容-后台管理-发布管理+二期内容-后台管理-市场营销 start*/
.ml30{margin-left: 30px;}
.selW120_w{width: 120px}
.clearS_w{height: 36px;line-height: 36px;color: #333;text-decoration: underline;float: left;margin-left: 20px;font-size: 13px;}
.clearS_w:hover{color:#ff6600;}
.ml3{margin-left: 3px;}
.tBody_w table a{margin-left: 0;}
.tBody_w table a.ml8{margin-left: 8px;}
.popS_w>div.popMain_w.h590{height: 500px;overflow-y:auto;}
.popMC_w{padding:20px 0 20px 48px;}
.popT_w th span{width: 56px;box-sizing: border-box;}
.w383{width:383px;}
.popT_w td,.popT_w th {padding-bottom: 22px;}
.popT_w td span{color:#ff4444;font-size:12px;}
.popT_w th{font-size: 13px;text-align: right;vertical-align: top;padding-top: 13px;}
.popT_w td{font-size: 13px;color:#666;position: relative}
.popT_w textarea{width: 597px;height: 108px;box-sizing: border-box;padding: 12px 10px;border: 1px  solid #dddddd;color: #666;font-size: 13px;line-height: 20px;}
.popT_w .ke-statusbar{display: none;}
.dateIcon_w{background: url(../images/dateIcon_w.png) 96px center no-repeat; }
/*二期内容-后台管理-发布管理+二期内容-后台管理-市场营销 over*/

/*诉求新加页面start*/
/*.chactadd{ margin: 0 auto; width: 900px;}
.chactadd textarea{border: 1px solid #ddd;color: #666;height: 86px;line-height: 22px;padding: 8px 10px;width: 675px;}
.chactadd .hideBtn{ cursor: pointer; display: inline-block; height: 36px; left: 0; visibility: hidden; position: absolute; top: 0; width: 120px;}

.chactadd p.annotation {color: #0078fe;display: block;margin-top: 5px; }
.chactadd .unit{ color: #666;display: inline-block;font-style: normal;height: 36px;line-height: 36px;margin-left: 11px;vertical-align: top;}
.chactadd table th,.chactadd table td{ padding-right: 10px; padding-top: 14px;}
.chactadd .formBtn1{ border: 1px solid #f60; color: #f60; display: inline-block; font-size: 14px; height: 34px; left: 0; line-height: 34px; position: absolute; text-align: center; top: 0; width: 118px;}
.chactadd .fileBtn {cursor: pointer;display: inline-block;height: 34px;line-height: 34px;position: relative;width: 118px;  }
.chactadd .formBtn1 > img { margin: 14px 2px 0 0; }*/
.ml16 { margin-left: 16px;}
.mr10 {margin-right: 10px;}
.mt20{margin-top: 20px!important;}
.pb20{padding-bottom: 20px!important;}
.ml60{margin-left: 60px;}
.mlf10{margin-left: -10px;}
.block_bg_f6 table{word-break: break-all;}
/*诉求新加页面over*/
.popT_w td span.error{color: red;float: right;font-size: 12px;position: absolute;right: 0;text-align: right;top: -14px;width:190px;}
.popT_w td span.r216{right: 216px;}
.popT_w td span.r398{right: 398px;}
i.require{background: url(../images/starR_w.png) left center no-repeat;width:8px;height: 7px;display: inline-block; }
.popMain_w .h560{height:560px;overflow-y:auto}
.pli5{ padding-left:3%!important;}
.detail_content>div>p,.detail_content>div> p> span,.detail_content>div>p>p{
	color: #333 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    text-align: justify!important;}
 #publish_content img{max-width:633px;height:auto;display:block;}
 .mr57{margin-right:57px;}
 /*政策引导 start*/
body {background-color: #f0f0f0;}
.warp_w{width: 1200px;margin: 0 auto;}
/*搜索框*/
.search_w{width: 630px; margin: 0 auto;height:36px;border-radius: 0;background: url(../images/serbg_w.png) no-repeat 0 bottom;border: none;padding-left: 6px;}
.search_w input[type=text]{width:564px;border-radius:0;background: none;line-height: 36px;}
.search_w span{line-height:36px;left: 18px;}
.search_w .search{width:45px;height:36px;background: none;border: none;}
.serbgOrg_w{background-position: 0 0}
/*筛选框*/
.select_w{border:1px solid #d6d6d6;padding:0 40px 0 20px;box-sizing: border-box;background: #fff;margin-top: 14px;}
.selectH_w{padding: 15px 0; border-bottom:1px dotted #ccc;}
.selectT_w{float:left;color:#ff6600;font-size: 14px;font-weight: bold;width: 114px;margin-top: 7px;}
.selectItem_w{float: left;width: 1023px;}
.selectH_w li{height: 14px;border-right: 1px solid #d6d6d6;padding:0 5px;float: left;margin:7px 0;}
.selectH_w li.noborder_w{border:0;}
.selectItem_w a{padding:6px 5px;color:#333;font-size: 14px;}
.selectItem_w a:hover{background:#f68e5c;color:#fff;}
.selectItem_w a:active,.selectItem_w a.on{background:#ff6600;color:#fff;}
.noborder_w{border:0;}
/*线*/
.line_w{border-top:1px solid #ff6600;margin: 20px 0;}
/*左侧列表*/
.ulLeft_w{width: 900px; float:left;}
.ulLeft_w li{cursor: pointer; padding:13px 30px 14px 20px;border: 1px solid #d6d6d6;background: #fff;margin-bottom: 10px;}
.ulLeft_w li:hover{border-color:#ff6600;}
.liLeft_w{float: left;}
.liRight_w{float: right;}
.itemT4_w{line-height:24px;float:left;font-style: normal;font-size: 16px;color: #ff6600;font-weight: bold;margin-right: 12px;}
.itemT_w{float:left;font-size: 16px;color:#333;line-height: 24px;padding-left: 15px;background: url(../images/square_w.png) left 10px no-repeat;width: 512px;}
.itemT_w a{color:#333;}
.addF_w{font-size: 14px;color:#999;line-height: 24px;margin-top: 23px;}
.addF_w span{ float:left;display: inline-block;width: 512px;}
.addF_w i{float:left;font-style: normal;}
.date_w{font-size: 13px;color:#999;margin-top: 4px;margin-bottom: 33px;text-align: right;}
.read_w{float:left;font-size: 14px;color:#17d532;margin-right: 10px;}
.readN_w{float:left;font-size: 14px;color:#999;margin-right: 10px;}
.readNum_w{font-size: 14px;font-style: normal;color:#ff6600; display: inline-block;width:60px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-left: 40px;background: url(../images/book_w.png) 14px center no-repeat;border-left:1px solid #d6d6d6;}
.wPage{text-align: center;}
.wPage .pagination{display: inline-block;vertical-align: middle;float: none;margin-top: 5px;padding: 0 !important;}
.wPage .totalpage{display: inline-block; vertical-align: middle;font-size: 12px}
/*右侧列表*/
.w290_PJY{width: 288px;border: 1px solid #d6d6d6;background-color: #fff;}
.w290_PJY>dt{font-weight: 700;font-size: 16px;color: #999;  border-bottom: 1px solid #d6d6d6; height: 44px; line-height: 44px;background-color: #f7f7f7;padding-left: 19px;}
.w290_PJY>dd{width:100%;height:273px;overflow: hidden;position:relative}
.w290_PJY>dd>div{width:100%;height:273px;overflow: hidden}
.w290_PJY>dd>div>ul>li{float:left;width:290px}
.policyBox_PJY{padding:20px 40px;box-sizing: border-box;height:273px}
.policyBox_PJY li{text-align:center}
.policyBox_PJY img{width:130px;height:130px;}
.policyBox_PJY h4{font-size:14px;color:#333;padding:13px 0;width:100%;text-align:center;}
.policyBox_PJY p{font-size:12px;color:#333;line-height:24px;}
#goL,#goR{display:inline-block;width:17px;height:47px;}
#goL{position:absolute;left:12px;top:110px;background:url("../images/Left-arrow_arow.png") no-repeat center center; cursor: pointer;}
#goL:hover{background:url("../images/Left-arrow_hover.png") no-repeat center center}
#goR{position:absolute;right:12px;top:110px;background:url("../images/Right-arrow_arow.png") no-repeat center center;cursor: pointer}
#goR:hover{background:url("../images/Right-arrow_hover.png") no-repeat center center}
.w290{width:288px;border:1px solid #d6d6d6;background-color:#fff}
.w290 dt{font-weight:700;font-size:16px;color:#999;border-bottom:1px solid #d6d6d6;height:44px;line-height:44px;background-color:#f7f7f7;padding-left:19px}
.w290 dd{width:266px;margin:0 auto;height:52px;line-height:52px;border-bottom:1px dashed #d6d6d6;background:url(../images/ddBg.png) no-repeat 7px center;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.w290 dd a{text-decoration:none;color:#333;font-size:14px;padding-left:22px}
.w290 dd a:hover{color:#ff6600;}
.w290 dd.nobod{border:none}
.policyMor_PJY{display:inline-block;width:30px;height:16px;font-size:12px;color:#999999;position:absolute;top:15px;right:10px;line-height:16px;background-image:url("../images/policy_more.png");background-repeat: no-repeat;background-position:  right center}
.policyMor_PJY:hover{color:#ff6600;background-image:url("../images/policy_more_hover.png")}
.w290 .policySpe_PJY{background:#fff;border-bottom:1px solid #ff6600;width:266px;margin:0 auto;padding-left:0}
.policySpe_PJY label{width:130px;display:inline-block;font-size:14px;font-weight:normal;color:#333;text-align:center;height:48px;line-height:48px}
.policySpe_PJY label span{display:inline-block;max-width:65px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color:#ff6600;height:48px;line-height:48px;vertical-align: top}
.policyList_PJY dd a{width:162px;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;height:52px;line-height:52px;}
.policyList_PJY dd span{display:inline-block;vertical-align: top;width:80px;text-align:center;height:52px;line-height:52px;font-size:14px;color:#999999;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}

 /*政策引导 over*/
/*二期-信息服务-十大服务模块-信息服务 start*/
.containerBtm2>ul>li>ul>li>span.serNum_w{width: 84px;}

/*二期-信息服务-十大服务模块-信息服务 over*/

/*二期-咨询管理-咨询管理-01扶持金审核 start*/
.tb_body table a.btnState_w{display:inline-block;cursor:pointer;width:72px;height:28px;line-height:26px;box-sizing:border-box;text-align:center;color:#f77333;border:1px solid #f60;text-decoration: none;}
.mt12{margin-top: 12px;}
.tbody.noborder_w{border:0;}
.popTextarea_w{border: 1px solid #ddd;  padding: 8px 10px;  line-height: 22px;  color: #666;width: 310px;height: 80px;vertical-align: top;}
.unCrossBox_w{min-width:460px;}
.unCrossBox_w .layui-layer-title{margin-bottom: 20px;}
.unCrossBox_w> .layui-layer-content{margin-bottom: 7px;}
.tb_body table a.unCross_w{margin-left: 10px;}
/*二期-咨询管理-咨询管理-01扶持金审核 over*/
/*二期-法律法规-法律法规-02申报主页 start*/
.form_w{width: 872px;margin-left: 10px;}
.form_w table td, .form_w table th{padding: 12px 0 0 0;}
.form_w table th{padding-right: 10px;vertical-align: middle;}
.form_w table th.Valign_w{vertical-align: top;}
.fileBtn_w{width: 120px;}
.mt250{margin-top: 250px;}
/*二期-法律法规-法律法规-02申报主页 over*/
/*二期-法律法规-04法律视频讲座 start*/
/*左侧主体内容 start*/
.leftBox_w{width: 950px;margin-right: 10px;float: left;}
.rightBox_w{width: 240px;float: right;}
.vedioBox_w{height: 620px;padding: 24px 19px 30px 19px;border:1px solid #d6d6d6;background: #fff;box-sizing: border-box;}
.vedioBox_w h4{font-size: 18px;line-height: 24px; font-weight: bold;text-align: center;}
.mt17{margin-top: 17px;}
.vedioSum_w{font-size: 14px;line-height: 24px;padding: 19px;border:1px solid #d6d6d6;background: #fff;box-sizing: border-box;margin: 10px 0;}
.SumTitle_w{float:left;width: 70px;line-height: 24px; }
.SumText_w{float:left;line-height: 24px;width: 840px;}
.mesBox_w{padding:24px 19px 20px 19px;border:1px solid #d6d6d6;background: #fff;box-sizing: border-box;}
.CmesT_w{font-size: 16px;color:#ff6600;float: left;}
.CmesN_w{font-size: 16px;color:#999;float: right;}
.mesInput_w{width: 100%;height:80px;border:1px solid #d6d6d6;box-sizing: border-box;margin-top: 10px;  padding-top: 5px;padding-bottom: 5px;line-height: 24px;}
.comT_w{width: 182px;height:48px;box-sizing: border-box;border-bottom: 1px solid #ff6600;font-size: 16px;color:#ff6600;padding-top: 20px;padding-left: 10px;position: relative;z-index: 1;}
.comT_w span{font-size: 16px;color:#999;}
.comList_w{border-top:1px solid #d6d6d6;margin-top: -1px;}
.comList_w li{padding: 18px 0;border-bottom: 1px dotted #ccc;}
.headPhotoBox_w{width: 50px;height: 50px;border-radius: 50%;behavior: url(../css/PIE.htc);margin-right: 10px;float: left; }
.comList_w img{width: 50px;height: 50px; }
.comMesB_w{float:right;width: 850px;}
.comName_w{padding: 10px 0;color: #ff6600;}
.comDate_w{color:#999;margin-left: 37px;}
.comMes_w{line-height: 24px;}
.handUp_w,.handDown_w{display: inline-block;width: 16px;height: 16px;background: url(../images/handUp_w.png) center center no-repeat;margin-right: 6px;}
.handDown_w{background-image: url(../images/handDown_w.png);margin-left: 25px;}
.handUp_w:active{background-image: url(../images/handUpY_w.png);}
.handDown_w:active{background-image: url(../images/handDownY_w.png);}

.rePadding_w{padding: 20px 0 0 0;}
.totalpage_w{font-size: 12px;}
.vedioImg_w{margin-top: 10px;width: 910px;height: 500px;}
/*左侧主体内容 over*/
/*右侧主体内容 start*/
.manBox_w{height: 620px;border:1px solid #d6d6d6;background: #fff;box-sizing: border-box;}
.BoxTitle_w{padding-left:19px;height: 45px;background:#f7f7f7;font-size: 16px;color: #999;font-weight: bold;line-height: 44px;border-bottom: 1px solid #d6d6d6; box-sizing: border-box;}
.menIntro_w{padding: 24px 10px 30px;height: 575px;overflow: hidden;box-sizing: border-box;}
.menPhotoBox_w{width:163px;height: 163px;overflow: hidden;border-radius: 83px; margin: 0 auto 15px;behavior:url(../css/PIE.htc);}
.menPhoto_w{ width: 163px;height: 163px;  }
.introDetail_w{height: 343px;}
.introDetail_w th,.introDetail_w td{line-height: 24px;padding-bottom:10px;vertical-align: top;}
.menListBox_w{max-height:1122px;border:1px solid #d6d6d6;background: #fff;box-sizing: border-box;margin-top: 10px;}
.menList_w{max-height: 1075px; padding:0 10px;}
.menList_w li a{color:#333; display:block;height: 50px;line-height: 50px;border-bottom:1px dotted #ccc;box-sizing: border-box;padding:0 12px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.menList_w li a:hover{color:#ff6600;}
.menList_w .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical{right: -6px;}
.introDetail_w .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical{right: -16px;}
/*右侧主体内容 over*/
/*在线咨询*/
.addOnline_w{ display: block; width:50px; height: 90px; position: fixed;right: 0;top:218px;background: #fff;border:1px solid #ddd;border-radius: 3px;behavior: url(../css/PIE.htc);padding: 7px 5px;box-sizing: border-box;}
.addOnline_w p{line-height: 16px;text-align: center;margin-top: 7px;}
/*二期-法律法规-04法律视频讲座 over*/
/*二期-人员培训-人员培训-07年度培训计划详细 start*/
.pt11{padding-top: 11px;}
.textareaA_w.w680{width: 680px;}
.textareaA_w.h100{height: 100px;}
.selectIcon_w .sod_select.open {  background: #fff url(../images/dorpdown_up.png) no-repeat 178px center;  }
.selectIcon_w .sod_select {  background: #fff url(../images/dorpdown_down.png) no-repeat 178px center;  }
.ml162{margin-left: 162px;}
.mr18{margin-right: 18px;}
/*二期-人员培训-人员培训-07年度培训计划详细 over*/
/*二期-人员培训-人员培训-08审核页面 start*/
.ValignT_w th,.ValignT_w td{vertical-align: top;line-height: 20px;}
/*二期-人员培训-人员培训-08审核页面 over*/
/*二期-人员培训-人员培训-09查看培训服务列表 start*/
.tableBL_w{float: left;width:590px;position: relative;}
.tableBR_w{float: right; width:590px;position: relative;}
.Gplan_w{text-align: center;margin-bottom: 20px;}
.Gplan_w span{color:#ff6600;}
.tr_evenFFF_w{background: #fff;}
.pb0{padding-bottom: 0;}
.tablemesM_w{color :#999;padding-right:6px; position: absolute; top:40px;right:40px;background: url(../images/iconRA_w.png) right center no-repeat;}
.tablemesM_w:hover{color:#ff6600; background-image: url(../images/tabmesMY_w.png);}
.classify_hd ul.noBorder_w{border:0;}
/*二期-人员培训-人员培训-09查看培训服务列表 over*/
/*二期-人员培训-人员培训-10查看活动详细 start*/
.videoBox_w{width: 170px;height: 95px;}
.videoBox_w img{width: 170px;height: 95px;}
td.ValignB_w{vertical-align: bottom}
.joinTableT_w{  color: #333;  font-weight: 700;  padding-left: 10px;  height: 20px;  margin-bottom: 10px;  margin-top: 20px;  }
.starList_PJY>li.mr0{margin-right: 0;}
.starList_PJY.w120{width: 120px;}
.seeMes_w th span.secondT_w{margin-left: 0;color:#333;margin-right: 5px;display: inline-block;width: 70px;text-align: right;}
.ml160{margin-left: 160px;}
.seedetail_w table{width: 100%;}
.seedetail_w th{font-size: 13px;color:#333;padding-bottom: 30px;text-align: right;padding-right: 5px;}
.seedetail_w td{font-size: 13px;color:#666;padding-bottom: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.detailPop_w .layui-layer-title{margin-bottom: 30px;}
.detailPop_w .layui-layer-btn{padding: 0;}
.detailPop_w> .layui-layer-content{margin-bottom: 0;padding-left:30px;padding-right: 30px;}
.detailPop_w a.layui-layer-btn0{margin: 0 10px 0 0 ;}
.detailPop_w a.layui-layer-btn1{margin: 0 30px 0 0;}

/*二期-人员培训-人员培训-10查看活动详细 over*/
/*二期-创业创新-创业创新 start*/
.lineD6_w{border-top:1px solid #d6d6d6;}
.exampleL_w{width: 900px;height: 370px;box-sizing: border-box;border:1px  solid #d6d6d6;padding:20px 20px 10px 20px;background: #fff;float: left;}
.exampleR_w{width: 290px;height: 370px;float: right;}
.exampleT_w{font-size: 18px;font-weight: bold;margin-bottom: 24px;}
.exampleD_w{font-size: 14px;color:#999;text-align: right;margin-top: 18px;}
.exampleText_w{height:263px;font-size: 14px;}
.exampleText_w .mCSB_container{line-height: 24px;}
.exampleText_w .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical{right: -17px;}
.btnDemo_w{display:block;width:100%;height:50px;background: #ff6600;color: #fff;font-size: 16px;font-weight: bold;text-align: center;line-height: 50px;}
.btnDemo_w:hover{background: #f68e5c;}
.h308{height: 308px;}
.zhtDivR_w{width: 290px;height: 310px;margin-top: 10px;background-color:#fff;border:1px solid #d6d6d6;box-sizing: border-box;}
.zhtDivRTit_w{padding-left:19px;background-color:#f7f7f7;height:45px;border-bottom:1px solid #d6d6d6}
.zhtDivRTit_w h3{line-height:45px;display:inline-block;width:213px;color:#666;font-size:16px;font-weight:700;vertical-align:top}
.zhtMmore{color:#f60;font-size:12px;line-height:45px;display:inline-block;background:url(../images/arrowright_03.png) no-repeat right center;padding-right:8px;vertical-align:top}
ul.noticeList_w{height: 264px;}
ul.noticeList_w li{height:52px;border-bottom:1px dashed #d6d6d6;margin:0 10px}
ul.noticeList_w li>a{display:inline-block;color:#333;background:url(../images/icon_four.png) no-repeat 5px center;padding-left:20px;line-height:52px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:248px}
ul.noticeList_w li>a:hover{color:#f60}
.noticeList_w .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical{right: -3px;}
/*二期-创业创新-创业创新 over*/
/*二期-创业创新-08服务机构后台（申请情况） strat*/
td.aCross_w{color:#00b971;}
td.uCross_w{color:#ff6600;}
.tb_body .link_blue{color:#3075fb}

/*二期-创业创新-08服务机构后台（申请情况） over*/
/*二期-创业创新-21市属平台示范基地审核 start*/
.w200.adminSelect .sod_select{background-position: 178px center;}
.c333{color:#333;}
/*二期-创业创新-21市属平台示范基地审核 over*/
/*二期-创业创新-09服务机构后台（月度报表） over*/
.c222{color:#222; }
.w400.adminSelect .sod_select{background-position: 378px center;}
.ml65{margin-left: 65px;}
/*二期-创业创新-09服务机构后台（月度报表） over*/
/*二期-创业创新-10新增月度服务数据+二期-创业创新-11新增月度服务能力升级情况 start*/
.addPop_w{min-width: 560px;}
.addPop_w .layui-layer-content{padding:0 30px;margin-bottom: 30px;}
.addPop_w .layui-layer-title{margin-bottom: 20px;}
.addPop1_w{width: 500px;}
.mb38{margin-bottom: 38px;}
.w155{width:155px;}
.w153{width:153px;}
.w155.adminSelect .sod_select{background-position: 132px center;}
.addPop1_w th,.addPop2_w th{text-align: right;box-sizing: border-box;padding-right: 5px;color:#333;}
.addPop1_w th.pr10,.addPop2_w thpr10{padding-right: 10px;}
.addPop1_w th,.addPop1_w td,.addPop2_w th,.addPop2_w td{padding-bottom: 20px;}
 th.pd0_w, td.pd0_w{padding-bottom: 0;}
.w422{ width:422px;}
.h106{height: 106px;}
.pt10{padding-top: 10px;}
.addPopRe_w .layui-layer-content{padding:0 20px 0 30px;margin-bottom: 16px;height: 347px;}
.addPopRe_w .layui-layer-title{margin-bottom: 20px;}
.addPopRe_w{min-width: 560px;}
.popInCon_w{width:510px;height: 110px;background: #f6f6f6;padding:10px;box-sizing: border-box;}
.w414{width: 414px;}
.h167{height:167px;}
.addPopRe_w .layui-layer-btn{padding:0 10px 0 0;}
.h36{height:36px;}
/*二期-创业创新-10新增月度服务数据+二期-创业创新-11新增月度服务能力升级情况 start*/
/*修改页面 start*/
.tb_bodyUL_w .link_blue{line-height: 18px;}
/*修改页面 over*/
/*二期-市场开拓服务-APEC会议详细页面 start*/
.bgf0_w{background: #f0f0f0;}
.textBox_w,.listBox_w,.newsBox_w{float: left;width: 280px;height:640px;box-sizing: border-box;background: #fff;border:1px solid #d6d6d6;}
.textBox_w:hover,.listBox_w:hover,.newsBox_w:hover{border:1px solid #ff6600;}
.mb40{margin-bottom: 40px;}
.columName_w{cursor: pointer; color:#fff;font-size: 16px;font-weight: bold;height: 45px;box-sizing: border-box;border-bottom: 1px solid #d6d6d6;padding-left: 20px;line-height: 44px;}
.textBox_w:hover .columName_w,.listBox_w:hover .columName_w,.newsBox_w:hover .columName_w{color:#ff6600;background: #ffe8dd;}
.bg769_w{background: #7693b3;}
.bgffe_w{background: #ffe8dd;}
.bge9b_w{background: #e9ba9c;}
.cf6_w{color:#ff6600;}
.textC_w{padding:24px 20px 20px 20px;}
.Title_w{font-size: 15px; color:#ff6600;font-weight: bold;}
.textScroll_w{height:478px;margin: 10px 0;}
.textScroll_w .mCSB_container{line-height: 24px;color:#333;}
.textScroll_w .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical{right:-12px;}
.mt24{margin-top: 24px;}
.mb4{margin-bottom: 4px;}
.listScroll_w{height: 550px;}
.listScroll_w li a{padding:0 0 0 3px; display: block;width: 100%; height:36px;line-height: 35px;box-sizing: border-box;border-bottom: 1px dotted #ccc;color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.listScroll_w li a:hover{color:#ff6600;}
.listScroll_w .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical{right:3px;}
.mt6{margin-top: 6px;}
.imgScroll_w{height: 587px;margin: 0 5px;padding-top: 6px;}
.imgScroll_w>li{border-bottom: 1px dotted #ccc;}
/*.imgScroll_w .mCSB_container>li{border-bottom: 1px dotted #ccc;}*/
.APECImg_w{width: 240px;height: 160px;display: block;margin: 0 auto;}
.APECNewsL_w li{color:#333;padding:0 15px 18px 15px;cursor: pointer;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.APECNewsL_w li:hover{color:#ff6600;}
.admMmainR.pt0_w{padding: 0 20px 20px 20px;}
/*二期-市场开拓服务-APEC会议详细页面 over*/
/*二期-市场开拓服务-民洽会报名须知 start*/
.wInherit_w{width: 100%;}
.h100{height:100px;}
.mb380{margin-bottom: 380px;}
.mt13{margin-top: 13px;}
/*二期-市场开拓服务-民洽会报名须知 over*/
/*二期-市场开拓服务-市场开拓-会议首页 start*/
.blueText_w{color: #333;line-height: 24px;cursor: pointer;}
.mb43{margin-bottom: 43px;}
.blueList_w li a{display: block;width: 100%; height:36px;line-height: 35px;box-sizing: border-box;border-bottom: 1px dotted #ccc;color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.blueList_w li a:hover{color:#ff6600;}
.h549{height:549px;}
.w380{width:380px;}
.h350{height:350px;}
.listScroll_w.h350 .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical{right: -15px;}
/*二期-市场开拓服务-市场开拓-会议首页 over*/
/*二期-示范平台认证-服务机构后台 start*/
.tb_body .link_yellow_w{ color: #ff6600; cursor: pointer;}
.tb_body .link_yellow_w:hover{text-decoration: underline;}
.w1060{width: 1060px;}
.tb_body td.h110{height:110px;}
.mt52{margin-top: 52px;}
.c00b_w{color:#00b971;}
/*二期-示范平台认证-服务机构后台 over*/
/*修改 start*/
/*二期-人员培训-人员培训-人员培训-培训申请审核 start*/
.askMes_PJY .seeMes_w .bgf6_w.pr130{padding-right: 130px;}
.askMes_PJY .seeMes_w td.pl30{padding-left: 30px;}
.askMes_PJY .seeMes_w td.w150{width:150px; }
/*二期-人员培训-人员培训-人员培训-培训申请审核 over*/
/*修改 start*/
/*二期-市场开拓服务-市场拓展-会议首页 start*/
.newsM_w {  color: #999;  padding-right: 6px;  position: absolute;  top: 0;  right: 0;  background: url(../images/iconRA_w.png) right center no-repeat;  }
.newsM_w:hover {  color: #ff6600;  background-image: url(../images/tabmesMY_w.png);  }
.introT_w{color:#333;line-height: 24px;}
.brownT_w{height:360px;}
.brownT_w .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical{right: -19px;}
.marquee{overflow:hidden;width:100%;height:344px;}
.w860{width:860px;}
.askMes_PJY.market2_PJY .seeMes_w .bgf6_w.pr210{padding-right: 210px;}
/*二期-市场开拓服务-市场拓展-会议首页 over*/
/*修改 over*/
.lyW800{width: 790px !important}



